<% Object.entries(work).forEach(function ([cardId, cardData]) { %>

  <a href="samples/<%= cardData.category %>" class="<%= cardData.category %> card">
    <div class="<%= cardData.color %> card-content">
      <img class="card-image" src="<%= cardData.image %>" alt="<%= cardData.title %>">
    </div>
  </a>

<% }) %>
