<% if (current.source == 'work') { %>
  <%- partial('_landing') %>
<% } %>

<section class="grid <%- current.source == 'work' ? 'active' : 'hidden'%>">

<% Object.entries(work).forEach(function ([cardId, cardData]) { %>
  <div class="<%= cardData.category %> card">
    <div class="<%= cardData.color %> card-content">
      <img class="card-image" src="<%= cardData.image %>" alt="<%= cardData.title %>">
    </div>
  </div>
<% }) %>

</section>
