<% var id = Number(current.source) - 1 %>
<% var projects = Object.entries(samples) %>
<% var startProjects = projects.splice(id, 1) %>
<% var endProjects = projects.splice(0, id) %>
<% var concatProjects = startProjects.concat(projects, endProjects) %>

<section id="slideshow">

  <div class="row">

    <% concatProjects.forEach(function ([cardId, cardData]) { %>

      <div class="<%= cardData.category %> card">
        <div class="<%= cardData.color %> card-content">
          <img class="card-image" src="<%= cardData.image %>" alt="<%= cardData.title %>">
          <p><%= cardData.title %></p>
        </div>
      </div>

    <% }) %>

  </div>

</section>
