<% var id = current.source - 1 %>
<% var projects = Object.entries(public.projects._data) %>
<% var startProjects = projects.splice(id, 1) %>
<% var endProjects = projects.splice(0, id) %>
<% var concatProjects = startProjects.concat(projects, endProjects) %>

<section id="slideshow">

  <div class="row">

    <%- concatProjects.forEach(function ([cardId, cardData]) { %>

      <div class="<%= cardData.category %> card" data-slideid="<%= cardId %>">
        <div class="<%= cardData.color %> card-content">
          <img class="card-image" src="<%= cardData.image %>" alt="<%= cardData.title %>">
          <p>Client: <%= cardData.client %></p>
          <p>Project: <%= cardData.title %></p>
          <%- if(cardData.contributor) { %>
            <p>With: <%= cardData.contributor %></p>
          <% } -%>
          <%- if(cardData.award) { %>
            <p>* <%= cardData.award %></p>
          <% } -%>
        </div>
      </div>

    <% }) -%>

  </div>

</section>
