<section id="slideshow">
  <div class="row">

    <%_ Object.entries(samples).forEach(function ([cardId, cardData]) { -%>

      <div class="<%= cardData.category %> card" data-slideid="<%= cardId %>">
        <div class="<%= cardData.color %> card-content">
          <img class="card-image" src="<%= cardData.image %>" alt="<%= cardData.title %>">
          <p>Client: <%= cardData.client %></p>
          <p>Project: <%= cardData.title %></p>
          <%_ if(cardData.contributor) { -%>
            <p>With: <%= cardData.contributor %></p>
          <%_ } -%>
          <%_ if(cardData.award) { -%>
            <p>* <%= cardData.award %></p>
          <%_ } -%>
        </div>
      </div>

    <%_ }) -%>

  </div>
</section>
