<% Object.entries(public.projects._data).forEach(function ([cardId, cardData]) { %>
  <a href="/projects/<%= Number(cardId) %>" class="<%= cardData.category %> card">
    <div class="<%= cardData.color %> card-content">
      <img class="card-image" src="<%= cardData.image %>" alt="<%= cardData.title %>">
    </div>
  </a>
<% }) %>
