<% Object.entries(public.projects._data).forEach(function ([cardId, cardData]) { %>
  <a href="/projects/<%= Number(cardId) %>" class="<%= cardData.category %> card">
    <img class="card-image" src="<%= cardData.image %>" alt="<%= cardData.title %>">
    <div class="<%= cardData.category %> <%= cardData.color %> card-overlay"></div>
  </a>
<% }) %>
